<section class="home" *ngIf="!mode">
  <h2>Let's play TicTacToe</h2>
  <div class="f-container">
    <div class="mode mode-1" (click)="selectMode('multi')">
      Play with your friend
    </div>
    <div class="mode mode-2" (click)="selectMode('computer')">
      Play with the computer
    </div>
  </div>
</section>

<section class="game-container" *ngIf="!!mode">
  <h2>Let's play TicTacToe</h2>
  <span>{{ Player1 }} = X</span>&nbsp;&nbsp;
  <span>{{ Player2 }} = O</span>

  <p>Current Turn : {{ currentTurn }}</p>

  <section class="board-container">
    <div
      *ngFor="let cell of cells"
      class="cell"
      [id]="cell.id"
      [ngClass]="cell.mark"
      [ngStyle]="{ 'pointer-events': !!cell.mark ? 'none' : 'auto' }"
      (click)="markCell(cell.id)"
    >
      <div class="mark">
        {{ cell.mark === Player1 ? 'X' : 'O' }}
      </div>
    </div>
    <div class="screen" [ngClass]="{'show': gameOver || gameTie}">
      <p class="result" *ngIf="gameOver">{{ currentTurn }} won!</p>
      <p class="result" *ngIf="gameTie">Game Draw!</p>
    </div>
  </section>

  <div class="btn-container">
    <button class="btn" (click)="startGame()">CLEAR</button>
    <button class="btn" (click)="goHome()">GO HOME</button>
  </div>
</section>

<app-footer></app-footer>
