

p {
    font-family: Lato;
  }
  
  h2, h3 {
    text-align: center;
  }

  .container {
    margin: 20px;
  }
  
  .game-container {
    margin: 0 auto;
    text-align: center;
  }
  
  .home,
  .f-container {
    margin: 0 auto;
    text-align: center;
    min-height: 49vh;
  }
      
  .f-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .f-container .mode {
    width: 150px;
    height: 135px;
    display: grid;
    place-items: center;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s ease-in;
    background: #0097a7;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .f-container .mode:hover {
    transform: scale(1.025);
    box-shadow: 1px 1px 5px 0px #232323;
  }
  
  .btn-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 300px;
  }
  
  .btn {
    background-color: #aed581;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: rgb(22, 22, 22) 0px 1px 3px 0px;
    transition: 0.2s ease-in;
    font-size: 12px;
    border: none;
  }
  
  .btn:hover {
    transform: scale(1.025);
    box-shadow: #1f1f1f 0px 1px 8px 1px;
  }
  
  .result {
    font-size: 30px;
  }
  
  .join-game {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
  }

  .join-game input {
    text-align: center;
    height: 30px;
    font-size: 16px;
    width: 100px;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .join-game button.join,
  .join-game button.start {
    background-color: #0097a7;
    color: #fff;
  }

  .game-code {
    color: red;
  }